﻿html,body,.container {
    height:100%;
}

body {
    background-color: #4c4c4c;
}

.calculator {
    width: 23em;
    margin-top: 4em;
    background-color: #F2F2F2;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;    
}

div.calculator #equation-result {    
    padding: 0.6em;
    font-size: 1em;        
}

div.calculator #equation-result {
    padding: 0.6em;
    font-size: 2.6em;    
    font-weight: 500;
}

div.calculator div {
    padding: 0;     
}

div.calculator button {
    width: 100%;    
    padding: 1em 0.5em 1em 0.5em;   
    background: #F2F2F2;
    border: none;
    font-size: 1.8em;    
    font-weight: 300;
}

div.calculator button:hover{
     background: #DADADA;
}

div.calculator button:disabled{
     background: #ECECEC;
}

div#historic-equations {     
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: normal; 
    color: #DADADA;   
}

div#equation {
    padding-right: 0.2em;
}